@use 'toast' as *;
@use 'reset' as *;

.huitch-block-button {
	// position: absolute;
	border: 1px solid #ADADB8;
	color: #ADADB8;
	// border-radius: 15px;
	// width: 20px;
	// height: 20px;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// line-height: 0;
	padding: 0 7px;
	font-size: 14px;
	border: none;
	// margin-left: 10px;

	&:hover {
		color: white;
	}
}